<html>
	<head>
		<meta charset="utf-8">
		<title>Steam Card Exchange Price Checker</title>
		
		<!-- ****** faviconit.com favicons ****** -->
		<link rel="shortcut icon" href="{{ url_for('static', filename= 'favicon.ico') }}">
		<link rel="icon" sizes="16x16 32x32 64x64" href="{{ url_for('static', filename= 'favicon.ico') }}">
		<link rel="icon" type="image/png" sizes="196x196" href="{{ url_for('static', filename= 'favicon-192.png') }}">
		<link rel="icon" type="image/png" sizes="160x160" href="{{ url_for('static', filename= 'favicon-160.png') }}">
		<link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename= 'favicon-96.png') }}">
		<link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('static', filename= 'favicon-64.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename= 'favicon-32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename= 'favicon-16.png') }}">
		<link rel="apple-touch-icon" href="{{ url_for('static', filename= 'favicon-57.png') }}">
		<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename= 'favicon-114.png') }}">
		<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename= 'favicon-72.png') }}">
		<link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename= 'favicon-144.png') }}">
		<link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename= 'favicon-60.png') }}">
		<link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename= 'favicon-120.png') }}">
		<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename= 'favicon-76.png') }}">
		<link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename= 'favicon-152.png') }}">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename= 'favicon-180.png') }}">
		<!-- ****** faviconit.com favicons ****** -->
		
		<script type = "text/javascript" src = "{{ url_for('static', filename = 'jquery-3.2.1.min.js') }}"></script>
		<script type = "text/javascript" src = "{{ url_for('static', filename = 'jquery.tablesorter.js') }}"></script>
		<link rel = "stylesheet" href = "{{ url_for('static', filename = 'style.css') }}" type = "text/css" />
	</head>
	<body>
		<h1>Steam Card Exchange Price Checker</h1>
		<p><b>Last update: </b>{{ update_time }}</p>
		<br>
		<p><a href="{{ url_for('index') }}">Home</a></p>
		<br>
		<p><a href="{{ url_for('steamlvluptosce') }}">STEAMLVLUP Prices to Steam Card Exchange Prices</a></p>
		<br>
		<p><a href = "{{ url_for('steam_inventory_to_sce_prices') }}">Steam Inventory Cards to Steam Card Exchange Prices</a></p>
		<br>
		<br>
		<label for = "Game">Filter by Game Name:</label>
		<input type = "text" id = "Game" onkeyup = "filter()" placeholder = "Filter by Game Name...">
		<br>
		<br>
		<label for = "Current Price">Filter by Current Price:</label>
		<input type = "text" id = "Current Price" onkeyup = "filter()" placeholder = "Filter by Current Price...">
		<br>
		<br>
		<label for = "Previous Price">Filter by Previous Price:</label>
		<input type = "text" id = "Previous Price" onkeyup = "filter()" placeholder = "Filter by Previous Price...">
		<br>
		<br>
		<label for = "Price Status">Filter by Price Status:</label>
		<input type = "text" id = "Price Status" onkeyup = "filter()" placeholder = "Filter by Price Status...">
		<br>
		<br>
		<table id = "scePrices" class = "tablesorter" border = "1">
			<thead>
				<tr>
					<th>Game</th>
					<th>Current Price</th>
					<th>Previous Price</th>
					<th>Change</th>
				</tr>
			</thead>
			<tbody>
				{% for game, curr_price in curr_prices | dictsort(case_sensitive = False, by = 'value') %}
					{% if game in prev_prices %}
						{% set prev_price = prev_prices[game] %}
					{% else %}
						{% set prev_price = "None" %}
					{% endif %}
					
					{% if (prev_price == "None") or (curr_price|int == prev_price|int) %}
						{% set price_change_status = "" %}
						{% set background_color = "transparent" %}
					{% elif curr_price|int > prev_price|int %}
						{% set price_change_status = "Increase" %}
						{% set background_color = "#a3ffa9" %}
					{% else %}
						{% set price_change_status = "Decrease" %}
						{% set background_color = "#ffa3a3" %}
					{% endif %}
					<tr style = "background-color: {{ background_color }}">
						<td>{{ game }}</td>
						<td>{{ curr_price }}</td>
						<td>{{ prev_price }}</td>
						<td>{{ price_change_status }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<script type = "text/javascript">
			$(document).ready(
				function() 
				{ 
					$("#scePrices").tablesorter();
				}
			);

			function filter()
			{
				var gameQuery = document.getElementById("Game").value.toUpperCase();
				var currPriceQuery = document.getElementById("Current Price").value;
				var prevPriceQuery = document.getElementById("Previous Price").value;
				var priceStatusQuery = document.getElementById("Price Status").value.toUpperCase();
				
				var rows = document.getElementById("scePrices").getElementsByTagName("tr");
				
				for (var i = 0; i < rows.length; i++)
				{
					var currElem = rows[i];
					
					var gameQueryCell = currElem.getElementsByTagName("td")[0];
					var currPriceQueryCell = currElem.getElementsByTagName("td")[1];
					var prevPriceQueryCell = currElem.getElementsByTagName("td")[2];
					var priceStatusQueryCell = currElem.getElementsByTagName("td")[3];
					
					if (gameQueryCell && currPriceQueryCell && prevPriceQueryCell && priceStatusQueryCell)
					{
						var gameQueryMatch = (gameQueryCell.innerHTML.toUpperCase().indexOf(gameQuery) > -1) || (gameQuery.length == 0);
						var currPriceQueryMatch = (currPriceQueryCell.innerHTML.indexOf(currPriceQuery) > -1) || (currPriceQuery.length == 0);
						var prevPriceQueryMatch = (prevPriceQueryCell.innerHTML.indexOf(prevPriceQuery) > -1) || (prevPriceQueryCell == 0);
						var priceStatusQueryMatch = (priceStatusQueryCell.innerHTML.toUpperCase().indexOf(priceStatusQuery) > -1) || (priceStatusQueryCell == 0);
						
						if (gameQueryMatch && currPriceQueryMatch && prevPriceQueryMatch && priceStatusQueryMatch)
						{
							currElem.style.display = "";
						}
						else
						{
							currElem.style.display = "none";
						}
					}
				}
			}
		</script>
	</body>
</html>