<html>
	<head>
		<meta charset="utf-8">
		<title>Steam Card Exchange Price Checker</title>
		<!-- ****** faviconit.com favicons ****** -->
		<link rel="shortcut icon" href="{{ url_for('static', filename= 'favicon.ico') }}">
		<link rel="icon" sizes="16x16 32x32 64x64" href="{{ url_for('static', filename= 'favicon.ico') }}">
		<link rel="icon" type="image/png" sizes="196x196" href="{{ url_for('static', filename= 'favicon-192.png') }}">
		<link rel="icon" type="image/png" sizes="160x160" href="{{ url_for('static', filename= 'favicon-160.png') }}">
		<link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename= 'favicon-96.png') }}">
		<link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('static', filename= 'favicon-64.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename= 'favicon-32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename= 'favicon-16.png') }}">
		<link rel="apple-touch-icon" href="{{ url_for('static', filename= 'favicon-16.png') }}/favicon-57.png">
		<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename= 'favicon-114.png') }}">
		<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename= 'favicon-72.png') }}">
		<link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename= 'favicon-144.png') }}">
		<link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename= 'favicon-60.png') }}">
		<link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename= 'favicon-120.png') }}">
		<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename= 'favicon-76.png') }}">
		<link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename= 'favicon-152.png') }}">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename= 'favicon-180.png') }}">
		<!-- ****** faviconit.com favicons ****** -->
	</head>
	<body>
		<h1>Steam Card Exchange Price Checker</h1>
		<p><b>Last update: </b>{{ update_time }}</p>
		<br>
		<p><a href="{{ url_for('steamlvluptosce') }}">STEAMLVLUP Prices to Steam Card Exchange Prices</a></p>
		<br>
		<table border = "1">
		<tr>
			<td><b>Game</b></td>
			<td><b>Current Price</b></td>
			<td><b>Previous Price</b></td>
			<td><b>Change</b></td>
		</tr>
		{% for game, curr_price in curr_prices | dictsort(case_sensitive = False, by = 'value') %}
			<tr>
				{% if game in prev_prices %}
					{% set prev_price = prev_prices[game] %}
				{% else %}
					{% set prev_price = "None" %}
				{% endif %}
				
				{% if (prev_price == "None") or (curr_price|int == prev_price|int) %}
					{% set highlight = "#00ffffff" %}
					{% set change_status = "" %}
				{% elif curr_price|int > prev_price|int %}
					{% set highlight = "#a3ffa9" %}
					{% set change_status = "Increase" %}
				{% else %}
					{% set highlight = "#ffa3a3" %}
					{% set change_status = "Decrease" %}
				{% endif %}
				
				<td><span style = "background-color: {{ highlight }}">{{ game }}</span></td>
				<td><span style = "background-color: {{ highlight }}">{{ curr_price }}</span></td>
				<td><span style = "background-color: {{ highlight }}">{{ prev_price }}</span></td>
				<td><span style = "background-color: {{ highlight }}">{{ change_status }}</span></td>
			</tr>
		{% endfor %}
		</table>
	</body>
</html>