<html>
	<head>
		<meta charset="utf-8">
		<title>Steam Card Exchange Price Checker</title>
	</head>
	<body>
		<h1>Steam Card Exchange Price Checker</h1>
		<p><b>Last update: </b>{{ update_time }}</p>
		<br>
		<table border = "1">
		<tr>
			<td><b>Game</b></td>
			<td><b>Current Price</b></td>
			<td><b>Previous Price</b></td>
			<td><b>Change</b></td>
		</tr>
		{% for game, curr_price in curr_prices.items() | sort(case_sensitive = False) %}
			<tr>
				{% set prev_price = prev_prices[game] %}
				{% set change_status = "Increase" %}
				
				{% if curr_price == prev_price %}
					{% set highlight = "#00ffffff" %}
					{% set change_status = "" %}
				{% elif curr_price > prev_price %}
					{% set highlight = "#a3ffa9" %}
					{% set change_status = "Increase" %}
				{% else %}
					{% set highlight = "#ffa3a3" %}
					{% set change_status = "Decrease" %}
				{% endif %}
				
				<td><span style = "background-color: {{ highlight }}">{{ game }}</span></td>
				<td><span style = "background-color: {{ highlight }}">{{ curr_price }}</span></td>
				<td><span style = "background-color: {{ highlight }}">{{ prev_prices[game] }}</span></td>
				<td><span style = "background-color: {{ highlight }}">{{ change_status }}</span></td>
			</tr>
		{% endfor %}
		</table>
	</body>
</html>