<html>
	<head>
		<meta charset="utf-8">
		<title>Steam Card Exchange Price Checker</title>
		<!-- ****** faviconit.com favicons ****** -->
		<link rel="shortcut icon" href="{{ url_for('static', filename= 'favicon.ico') }}">
		<link rel="icon" sizes="16x16 32x32 64x64" href="{{ url_for('static', filename= 'favicon.ico') }}">
		<link rel="icon" type="image/png" sizes="196x196" href="{{ url_for('static', filename= 'favicon-192.png') }}">
		<link rel="icon" type="image/png" sizes="160x160" href="{{ url_for('static', filename= 'favicon-160.png') }}">
		<link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename= 'favicon-96.png') }}">
		<link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('static', filename= 'favicon-64.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename= 'favicon-32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename= 'favicon-16.png') }}">
		<link rel="apple-touch-icon" href="{{ url_for('static', filename= 'favicon-57.png') }}">
		<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename= 'favicon-114.png') }}">
		<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename= 'favicon-72.png') }}">
		<link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename= 'favicon-144.png') }}">
		<link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename= 'favicon-60.png') }}">
		<link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename= 'favicon-120.png') }}">
		<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename= 'favicon-76.png') }}">
		<link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename= 'favicon-152.png') }}">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename= 'favicon-180.png') }}">
		<!-- ****** faviconit.com favicons ****** -->
		<script type = "text/javascript" src = "{{ url_for('static', filename = 'jquery-3.2.1.min.js') }}"></script>
		<script type = "text/javascript" src = "{{ url_for('static', filename = 'jquery.tablesorter.js') }}"></script>
		<script type="text/javascript">var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
		<link rel = "stylesheet" href = "{{ url_for('static', filename = 'style.css') }}" type = "text/css" />
	</head>
	<body>
		<h1>Steam Card Exchange Price Checker</h1>
		<p><a href = "{{ url_for('steam_inventory_to_sce_prices') }}">Steam Inventory Cards to Steam Card Exchange Prices</a></p>
		<br>
		<p><a href="{{ url_for('steamlvluptosce') }}">STEAMLVLUP Prices to Steam Card Exchange Prices</a></p>
		<br>
		<br>
		<label for "steam_id">Enter Steam ID or Steam profile URL:</label>
		<input type = "text" id = "steam_id" placeholder = "Steam ID or profile URL...">
		<button type = "button" id = "submitButton">Get Steam Card Exchange Prices</button>
		<br>
		<div id = "inventoryToSce"></div>
		
		<script type = "text/javascript">
			$(document).ready(
				function()
				{
					$("#submitButton").click(
						function()
						{
							$("#submitButton").prop("disabled", true);
							$("#submitButton").html("Loading...");
							
							$.post($SCRIPT_ROOT + '/',
							{
								steam_id: $("#steam_id").val()
							},
							function(response)
							{
								if (typeof response == 'object')
								{
									var priceTable = '<table id = "prices" class = "tablesorter" border = "1">'
										+ '<thead><tr>'
										+ '<th>Game</th>'
										+ '<th>Price</th>'
										+ '<th>Set Price</th>'
										+ '<th>Unique Cards</th>'
										+ '<th>Cards in Set</th>'
										+ '<th>% of Set</th>'
										+ '</tr></thead><tbody>';
									
									for (var game in response)
									{
										if (response.hasOwnProperty(game))
										{
											var currGame = response[game];
											var sceInfo = currGame[0];
											
											var uniqueCards = currGame[1];
											var cardsInSet = sceInfo[2];
											var percentageOfSet = Math.round(100 * uniqueCards / cardsInSet);
											
											priceTable += '<tr><td>' + sceInfo[0] + '</td><td>' + sceInfo[1] + '</td><td>' + sceInfo[3]
												+ '</td><td>' + uniqueCards + '</td><td>' + cardsInSet + '</td><td>' + percentageOfSet + '%</td></tr>';
										}
									}
									
									priceTable += '</tbody></table>';
									
									$("#inventoryToSce").html(priceTable);
								}
								
								$("#submitButton").prop("disabled", false);
								$("#submitButton").html("Get Steam Card Exchange Prices");
								$("#prices").tablesorter();
							});
						}
					);
				}
			);
		</script>
	</body>
</html>