<html>
	<head>
		<meta charset="utf-8">
		<title>Steam Card Exchange Price Checker</title>
		<!-- ****** faviconit.com favicons ****** -->
		<link rel="shortcut icon" href="{{ url_for('static', filename= 'favicon.ico') }}">
		<link rel="icon" sizes="16x16 32x32 64x64" href="{{ url_for('static', filename= 'favicon.ico') }}">
		<link rel="icon" type="image/png" sizes="196x196" href="{{ url_for('static', filename= 'favicon-192.png') }}">
		<link rel="icon" type="image/png" sizes="160x160" href="{{ url_for('static', filename= 'favicon-160.png') }}">
		<link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename= 'favicon-96.png') }}">
		<link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('static', filename= 'favicon-64.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename= 'favicon-32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename= 'favicon-16.png') }}">
		<link rel="apple-touch-icon" href="{{ url_for('static', filename= 'favicon-16.png') }}/favicon-57.png">
		<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename= 'favicon-114.png') }}">
		<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename= 'favicon-72.png') }}">
		<link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename= 'favicon-144.png') }}">
		<link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename= 'favicon-60.png') }}">
		<link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename= 'favicon-120.png') }}">
		<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename= 'favicon-76.png') }}">
		<link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename= 'favicon-152.png') }}">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename= 'favicon-180.png') }}">
		<!-- ****** faviconit.com favicons ****** -->
	</head>
	<body>
		<h1>STEAMLVLUP Prices to Steam Card Exchange Prices</h1>
		<p><b>Last update: </b>{{ update_time }}</p>
		<br>
		<p><a href="{{ url_for('index') }}">Home</a></p>
		<br>
		{% if request_status == 'success' %}		
			<table border = "1">
			<tr>
				<td><b>Game</b></td>
				<td><b>Current STEAMLVLUP price</b></td>
				<td><b>Current Steam Card Exchange price</b></td>
			</tr>
			{% for game, curr_steamlvlup_price in steamlvlup_prices.items() | sort(case_sensitive = False) %}
				<tr>
					<td>{{ game }}</td>
					<td>{{ curr_steamlvlup_price }}</td>
					<td>{{ sce_card_set_prices[game] }}</td>
				</tr>
			{% endfor %}
			</table>
		{% else %}
			<p>The STEAMLVLUP site seems to be having issues.</p>
		{% endif %}
	</body>
</html>