<html>
	<head>
		<meta charset="utf-8">
		<title>Steam Card Exchange Price Checker</title>
		<!-- ****** faviconit.com favicons ****** -->
		<link rel="shortcut icon" href="{{ url_for('static', filename= 'favicon.ico') }}">
		<link rel="icon" sizes="16x16 32x32 64x64" href="{{ url_for('static', filename= 'favicon.ico') }}">
		<link rel="icon" type="image/png" sizes="196x196" href="{{ url_for('static', filename= 'favicon-192.png') }}">
		<link rel="icon" type="image/png" sizes="160x160" href="{{ url_for('static', filename= 'favicon-160.png') }}">
		<link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename= 'favicon-96.png') }}">
		<link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('static', filename= 'favicon-64.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename= 'favicon-32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename= 'favicon-16.png') }}">
		<link rel="apple-touch-icon" href="{{ url_for('static', filename= 'favicon-57.png') }}">
		<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename= 'favicon-114.png') }}">
		<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename= 'favicon-72.png') }}">
		<link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename= 'favicon-144.png') }}">
		<link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename= 'favicon-60.png') }}">
		<link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename= 'favicon-120.png') }}">
		<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename= 'favicon-76.png') }}">
		<link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename= 'favicon-152.png') }}">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename= 'favicon-180.png') }}">
		<!-- ****** faviconit.com favicons ****** -->
		<script type = "text/javascript" src = "{{ url_for('static', filename = 'jquery-3.2.1.min.js') }}"></script>
		<script type = "text/javascript" src = "{{ url_for('static', filename = 'jquery.tablesorter.js') }}"></script>
		<script type="text/javascript">
			var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
		<link rel = "stylesheet" href = "{{ url_for('static', filename = 'style.css') }}" type = "text/css" />
	</head>
	<body>
		<h1>STEAMLVLUP Prices to Steam Card Exchange Prices</h1>
		<div id = "updateTime"></div>
		<p><a href="{{ url_for('index') }}">Home</a></p>
		<br>
		<p><a href="{{ url_for('steamlvluptosce') }}">STEAMLVLUP Prices to Steam Card Exchange Prices</a></p>
		<br>
		<p><a href = "{{ url_for('steam_inventory_to_sce_prices') }}">Steam Inventory Cards to Steam Card Exchange Prices</a></p>
		<br>
		<div id = "steamlvlupToSce"></div>
		
		<script type = "text/javascript">
			function loadPrices()
			{
				$("#steamlvlupToSce").html('<div class="loader">Loading...</div>');
			
				$.post($SCRIPT_ROOT + '/steamlvluptosce',
				{
					
				},
				function(response)
				{
					if (typeof response == 'object')
					{
						if (response['request_status'] == 'success')
						{
							var priceTable = '<table id = "prices" class = "tablesorter" border = "1">'
								+ '<thead><tr>'
								+ '<th>Game</th>'
								+ '<th>Current STEAMLVLUP price</th>'
								+ '<th>Current Steam Card Exchange price</th>'
								+ '</tr></thead><tbody>';
								
							var steamlvlupPrices = response['steamlvlup_prices'];
							
							for (var game in steamlvlupPrices)
							{
								if (steamlvlupPrices.hasOwnProperty(game))
								{
									var sceInfo = response['sce_card_set_prices'][game];
									priceTable += '<tr><td>' + sceInfo[0] + '</td><td>' + steamlvlupPrices[game] + '</td><td>' + sceInfo[1] + '</td></tr>';
								}
							}
							
							priceTable += '</tbody></table>';
							$("#steamlvlupToSce").html(priceTable);
							$("#prices").tablesorter();
							
							$("#updateTime").html("<p><b>Last update: </b>" + response['update_time'] + "</p>");
						}
						else
						{
							$("#steamlvlupToSce").html('<p>The STEAMLVLUP site seems to be having issues.</p>');
						}
					}
					else
					{
						$("#steamlvlupToSce").html('<p>Server-side code has issues.</p>');
					}
				});
			}
		
			$(document).ready(
				function() 
				{
					loadPrices();
				} 
			); 
		</script>
	</body>
</html>