<html>
	<head>
		<meta charset="utf-8">
		<title>Steam Card Exchange Price Checker</title>
	</head>
	<body>
		<h1>STEAMLVLUP Prices to Steam Card Exchange Prices</h1>
		<p><b>Last update: </b>{{ update_time }}</p>
		<br>
		<p><a href="{{ url_for('index') }}">Home</a></p>
		<br>
		{% if request_status == 'success' %}		
			<table border = "1">
			<tr>
				<td><b>Game</b></td>
				<td><b>Current STEAMLVLUP price</b></td>
				<td><b>Current Steam Card Exchange price</b></td>
			</tr>
			{% for game, curr_steamlvlup_price in steamlvlup_prices.items() | sort(case_sensitive = False) %}
				<tr>
					<td>{{ game }}</td>
					<td>{{ curr_steamlvlup_price }}</td>
					<td>{{ sce_card_set_prices[game] }}</td>
				</tr>
			{% endfor %}
			</table>
		{% else %}
			<p>The STEAMLVLUP site seems to be having issues.</p>
		{% endif %}
	</body>
</html>